nav section {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: 10px;
    max-width: fit-content;

}

@media only screen and (max-width: 1240px) {}