header h1 {
  
    padding: 30px;
    border: 20px;
    background-color: rgb(114, 113, 111);
    color: aliceblue;
    font-family: cursive;
}

.header nav {
    float: right;
    font-size: 20px;
}
.header nav ul {
list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

@media only screen and (max-width: 1240px) {
    
}